<h1>Enjoy these events!</h1>

<% @events.each do |event| %>
  <h2><%= link_to event.title, event_path(event.id) %></h2><br>
  <%= event.body %>
  <h5>This event will be held on <%= event.date %></h5>
  <% if user_signed_in? %>
    <h6>Organized by <%= link_to event.creator.email, user_path(event.creator.id) %></h6>
  <% end %>
<% end %>